# Android build
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App builds
/app/build

# Gradle wrapper jar (optional - some teams commit this)
# gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.class
